<div class="row pull-right " id="bread">
    <ol class="breadcrumb breadcrumb-arrow">
        <li><a href="#">Plantations & Harvesting</a></li>
        <li class="active"><span>Crops and Crop Schemes</span></li>
    </ol>
</div>
<div class="card">
    <div class="card-header card-header-text" data-background-color="rose">
            <h4 class="card-title"><i class="fa fa-table m-r-10"></i>Crops and Crop Schemes</h4>
    </div>
    <div class="card-body">
            <div class="row">
                    <div class="col-md-4">
                            <div class="form-group">
                                <span class="label-control">Date of Entry</span>
                                <input type="text" class="form-control">
                            </div>
                    </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                    <span class="label-control">Login User Name</span>
                                    <input type="text" class="form-control">
                            </div>
                    </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                <span class="label-control">Crop Group Name</span>
                                <input type="text" class="form-control">
                            </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-4">
                            <div class="form-group">
                                <span class="label-control">Crop Name</span>
                                <input type="text" class="form-control">
                            </div>
                    </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                <span class="label-control">Crop Scheme</span>
                                <textarea rows="2" cols="50" class="form-control">
                                       
                                </textarea>
                             </div>
                    </div>
                   
            </div>
    </div>
</div>
<div  class="card">
    <div class="card-header card-header-text" data-background-color="rose">
            <h4 class="card-title"><i class="fa fa-table m-r-10"></i>Crops and Crop Schemes List</h4>
    </div>
    <div class="card-body" style="overflow-y:auto">
            <div class="row m-b-25" >
                    <div class="col-md-12" >
                            <div>
                                    <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" cellpadding="4" id="grdOrganizations">
                            <tbody>
                                    <tr>
                                            <th>S.No</th>
                                            <th>Crop Group name</th>
                                            <th>Crop Name</th>  
                                            <th>Crop Scheme</th>                          
                                    </tr>
                                    <tr>
                                            <td>
                                                    <span>1</span>
                                            </td>
                                            <td>
                                                    Na
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                    </tr>
                            </tbody>
                                    </table>
                            </div>
                </div>
            </div>
    </div>
</div>
<div  class="card">
    <div class="row pull-right btSection">
            <div class="col-md12">
                     <input type="submit" value="Add Crop Group" class="btn btn-info">
                     <input type="submit" value="Add Crop Name" class="btn btn-info">
                     <input type="submit" value="Save" class="btn btn-info">
                     <input type="submit" value="Find" class="btn btn-info">
                     <input type="submit" value="Modify" class="Modify">
                     <input type="submit" value="Clear" class="btn btn-info">
             </div>
     </div>
</div>