<div class="row pull-right " id="bread">
    <ol class="breadcrumb breadcrumb-arrow">
        <li><a href="#">Plantations & Harvesting</a></li>
        <li class="active"><span>Centre areas and villages</span></li>
    </ol>
</div>
<div class="card">
    <div class="card-header card-header-text" data-background-color="rose">
            <h4 class="card-title"><i class="fa fa-table m-r-10"></i>Centre Areas and Villages List</h4>
    </div>
    <div class="card-body">
            <div class="row">
                    <div class="col-md-4">
                            <div class="form-group">
                                <span class="label-control">Date of Entry</span>
                                <input type="text" class="form-control">
                            </div>
                    </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                    <span class="label-control">Login User Name</span>
                                    <input type="text" class="form-control">
                            </div>
                    </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                <span class="label-control">Area Name</span>
                                <input type="text" class="form-control">
                            </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-4">
                            <div class="form-group">
                                <span class="label-control">Area Code</span>
                                <input type="text" class="form-control">
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span>Country</span>
                                <select class="form-control">
                            <option value="--Select Status--">--Select Status--</option>
                            <option>Coutry1</option>
                             <option>Coutry2</option>
                             <option>Coutry3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span>State</span>
                                <select class="form-control">
                            <option value="--Select Status--">--Select Status--</option>
                            <option>State1</option>
                             <option>State2</option>
                             <option>State3</option>
                            </select>
                        </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-4">
                            <div class="form-group">
                               <span>District</span>
                                <select class="form-control">
                            <option value="--Select Status--">--Select Status--</option>
                            <option>District1</option>
                             <option>District2</option>
                             <option>District3</option>
                            </select>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                           <span>Village</span>
                            <select class="form-control">
                        <option value="--Select Status--">--Select Status--</option>
                        <option>Village1</option>
                         <option>Village2</option>
                         <option>Village3</option>
                        </select>
                        </div>
                </div>
            </div>
    </div>
</div>
<div  class="card">
    <div class="card-header card-header-text" data-background-color="rose">
            <h4 class="card-title"><i class="fa fa-table m-r-10"></i>Supplier Document List</h4>
    </div>
    <div class="card-body" style="overflow-y:auto">
            <div class="row m-b-25" >
                    <div class="col-md-12" >
                            <div>
                                    <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" cellpadding="4" id="grdOrganizations">
                            <tbody>
                                    <tr>
                                            <th>S.No</th>
                                            <th>Area Name</th>
                                            <th>State Name</th>    
                                            <th>District Name</th>      
                                            <th>Village Name</th>                          
                                    </tr>
                                    <tr>
                                            <td>
                                                    <span>1</span>
                                            </td>
                                            <td>
                                                    Na
                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                    </tr>
                            </tbody>
                                    </table>
                            </div>
                </div>
            </div>
    </div>
</div>
<div  class="card">
    <div class="row pull-right btSection">
            <div class="col-md12">
                     <input type="submit" value="Add Area" class="btn btn-info">
                     <input type="submit" value="Add Village" class="btn btn-info">
                     <input type="submit" value="Save" class="btn btn-info">
                     <input type="submit" value="Find" class="btn btn-info">
                     <input type="submit" value="Modify" class="Modify">
                     <input type="submit" value="Clear" class="btn btn-info">
             </div>
     </div>
</div>