<aside class="sidebar">
  <div class="scrollbar-inner">
    <ul class="navigation" id="accordion1">
      <li>
        <a data-toggle="collapse" data-parent="#accordion1" href="#firstLink" routerLink="secure/organisation-details"><i class="fa fa-sitemap font-i"></i>
          {{'menuItemTitle1' | translate}}<span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i> </span>
        </a>
      </li>
      <li>
        <a data-toggle="collapse" data-parent="#accordion1" href="#secondLink"><i class="fa fa-user"></i>
          Administration & Users<span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i> </span>
        </a>
      </li>
      <li>
        <a data-toggle="collapse" data-parent="#accordion1" href="#hrLink"><i class="fa fa-users"></i>
          Human Resource Management<span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i> </span>
        </a>
          <ul id="hrLink" class="collapse">
            <li>
              <a data-toggle="collapse" data-parent="#accordion1" href="#hrMasterLink"><i class="fa fa-table font-i"></i>
                Master 
              <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a>
              <!--- Second submenu Item-->
              <ul id="hrMasterLink" class="collapse">
                <li><a routerLink='secure/employee-information-details'><i class="fa fa-arrow-circle-right font-i"></i>Employee Details <span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Experience Details <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Salary And CTC Approval<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Salary Deductions <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Loans & Advances <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>ESIC Rates <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Provident Fund Rates <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Professional Tax Rates <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>TDS Calculations <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>IT rebate Details  <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Bonus Calculations <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Shift Details <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Employee Transfer <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Bank Details <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Statuary Holiday Master <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
              </ul>
              <!--- Second submenu Item ends-->
          </li>
          <li>
            <a data-toggle="collapse" data-parent="#accordion1" href="#hrTransactionLink"><i class="fa fa-edit font-i"></i>
              Transactions 
              <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a>
               <!--- Second submenu Item-->
               <ul id="hrTransactionLink" class="collapse">
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Shift Management <span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Manual Attendance <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Leave Request - Employee <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Leave Process - Manager<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Attendance Finalization<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Loan & Adavance Approvals <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Deductions Adjustment<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Salary Computation & Finalization (Days/Monthly)<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Appraisal Process(180/ 360 Degrees)<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Salary Increment<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Incentives<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>PF Return<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>ESIC Return<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Professional Tax Return<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>TDS Computation<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>TDS Return<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Bonus Approval<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
              </ul>
              <!--- Second submenu Item ends-->
          </li>
          <li>
            <a data-toggle="collapse" data-parent="#accordion1" href="#hrreportsHRM">
              <i class="fa fa-book font-i"></i>
              Reports 
              <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a>
                       <!--- Second submenu Item-->
                       <ul id="hrreportsHRM" class="collapse">
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Department Designation <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Employee Details<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Employee Information<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Salary Details<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Deduction Details<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Attendance Register<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Leave Application<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Leave Register<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Salary Register<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Summary Wage Register (Days / Monthly)<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Employee Wise Salary details<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>ESIC Reports<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Statuary Rates<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>ESI Register<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>ESI Deduction Summary<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>PF Reports<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Statuary Rates<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>PF Register<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Consolidated PF Register<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Employee Wise Register<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>PT Reports<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Statuary Rates<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>PT Register<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Employee Wise Register<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Leave Register<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Leave Status<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Salary Increment<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Employee Wise History<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Approvals (180/ 360 Degree)<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Department employee Wise Salary<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Income Tax Details<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>IT Rates<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>IT Deductions(TDS)<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>TDS Return<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>TDS Return<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Holiday List Details<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Bank Account  Details<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Loans & Advances<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        
                      </ul>
                      <!--- Second submenu Item ends-->
          </li>
        </ul>

      </li>
      <li>
          <a data-toggle="collapse" data-parent="#accordion1" href="#hrPNR"><i class="fa fa-truck"></i>
            Plantations & Harvesting<span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i> </span>
          </a>
          
          <ul id="hrPNR" class="collapse">
            <li>
              <a data-toggle="collapse" data-parent="#accordion1" href="#hrPNRsub1"><i class="fa fa-table font-i"></i>
                Master 
              <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a>
                         <!--- Second submenu Item-->
                         <ul id="hrPNRsub1" class="collapse">
                          <li><a routerLink='secure/centre-areasand-villages'><i class="fa fa-arrow-circle-right font-i"></i>Area & Villages<span class="pull-right-container">
                                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                          </li>
                          <li><a routerLink='secure/fieldstaffdetails'><i class="fa fa-arrow-circle-right font-i"></i>Field Staff<span class="pull-right-container">
                            <i class="fa fa-angle-right pull-right"></i> </span></a>
                          </li>
                          <li><a routerLink='secure/cropsandschemes'><i class="fa fa-arrow-circle-right font-i"></i>Crops & Schemes<span class="pull-right-container">
                            <i class="fa fa-angle-right pull-right"></i> </span></a>
                          </li>
                          <li><a routerLink='secure/farmer-details'><i class="fa fa-arrow-circle-right font-i"></i>Farmers Details<span class="pull-right-container">
                            <i class="fa fa-angle-right pull-right"></i> </span></a>
                          </li>
                          <li><a routerLink='secure/crop-rate'><i class="fa fa-arrow-circle-right font-i"></i>Crop Rates<span class="pull-right-container">
                            <i class="fa fa-angle-right pull-right"></i> </span></a>
                          </li>
                          <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Harvesting Stages<span class="pull-right-container">
                            <i class="fa fa-angle-right pull-right"></i> </span></a>
                          </li>
                          
                        </ul>
                        <!--- Second submenu Item ends-->
            </li>
            <li>
              <a data-toggle="collapse" data-parent="#accordion1" href="#hrPNRsub2">
              <i class="fa fa-edit font-i"></i>
              Transactions
              <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a>
                       <!--- Second submenu Item-->
                       <ul id="hrPNRsub2" class="collapse">
                        <li><a routerLink='secure/farmers-agreement'><i class="fa fa-arrow-circle-right font-i"></i>Farmers Agreement<span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink='secure/plantation-scheduling'><i class="fa fa-arrow-circle-right font-i"></i>Plantations Scheduling<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink='secure/feedand-input-transfer'><i class="fa fa-arrow-circle-right font-i"></i>Feed & Inputs Transfer<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Feed & Inputs Return<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Harvest Material Gate Entry<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Farmers Advance Indent<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Farmers Input Bill Finalization<span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i> </span></a>
                        </li>
                        
                      </ul>
                      <!--- Second submenu Item ends-->
            </li>
            <li>
              <a data-toggle="collapse" data-parent="#accordion1" href="#hrPNRsub3">
              <i class="fa fa-book font-i"></i>
              Reports 
              <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a>
                               <!--- Second submenu Item-->
                               <ul id="hrPNRsub3" class="collapse">
                                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Harvesting Material Receipt Report<span class="pull-right-container">
                                        <i class="fa fa-angle-right pull-right"></i> </span></a>
                                </li>
                                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Input Materail Consumption Report<span class="pull-right-container">
                                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                                </li>
                                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Farmer wise Harvesting Report<span class="pull-right-container">
                                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                                </li>
                                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Farmer wise Summary Report<span class="pull-right-container">
                                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                                </li>                               
                                 <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Feed & Input Returns Report<span class="pull-right-container">
                                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                                </li>
                                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Harvesting Analysis Report<span class="pull-right-container">
                                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                                </li>
                                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Area wise Analysis Report<span class="pull-right-container">
                                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                                </li>
                                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Village wise Analysis Report<span class="pull-right-container">
                                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                                </li>
                              </ul>
                              <!--- Second submenu Item ends-->
            </li>
          </ul>
      </li>
      <li>
        <a data-toggle="collapse" data-parent="#accordion1" href="#hrPM"><i class="fa fa-buysellads"></i>
          Purchase Management<span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i> </span>
        </a>
        <ul id="hrPM" class="collapse">
          <li>
              <a data-toggle="collapse" data-parent="#accordion1" href="#hrPNRsub1"><i class="fa fa-table font-i"></i>
                Master  
              <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a>
               <!--- Second submenu Item-->
               <ul id="hrPNRsub1" class="collapse">
                <li><a routerLink='secure/raw-material-master'><i class="fa fa-arrow-circle-right font-i"></i>Raw Material Details<span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink='secure/raw-material-stocks'><i class="fa fa-arrow-circle-right font-i"></i>Raw Material Stock Details<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>
                <li><a routerLink='secure/suppliers-details'><i class="fa fa-arrow-circle-right font-i"></i>Suppliers Details<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>            
              </ul>
              <!--- Second submenu Item ends-->
          </li>
          <li>
            <a data-toggle="collapse" data-parent="#accordion1" href="#hrPNRsub2"><i class="fa fa-edit font-i"></i>
            Transactions
            <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a>
             <!--- Second submenu Item-->
             <ul id="hrPNRsub2" class="collapse">
              <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Quotation Received<span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i> </span></a>
              </li>
              <li><a routerLink='secure/purchase-order'><i class="fa fa-arrow-circle-right font-i"></i>Purchase Order<span class="pull-right-container">
                <i class="fa fa-angle-right pull-right"></i> </span></a>
              </li>     
              <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Material Inward Gate Entry<span class="pull-right-container">
                <i class="fa fa-angle-right pull-right"></i> </span></a>
              </li>     
              <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Goods Receipt Note<span class="pull-right-container">
                <i class="fa fa-angle-right pull-right"></i> </span></a>
              </li>     
              <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Purchase Return<span class="pull-right-container">
                <i class="fa fa-angle-right pull-right"></i> </span></a>
              </li>            
            </ul>
            <!--- Second submenu Item ends-->
        </li>
        <li>
          <a data-toggle="collapse" data-parent="#accordion1" href="#hrPNRsub3"><i class="fa fa-book font-i"></i>
          Reports
          <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a>
           <!--- Second submenu Item-->
           <ul id="hrPNRsub3" class="collapse">
            <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Purchase Register<span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i> </span></a>
            </li>          
          </ul>
          <!--- Second submenu Item ends-->
      </li>
        </ul>
      </li>
      <li>
        <a data-toggle="collapse" data-parent="#accordion1" href="#hrPPFW"><i class="fa fa-buysellads"></i>
          Production Process Filling & Ware House Division<span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i> </span>
        </a>
        <ul id="hrPPFW" class="collapse">
          <li>
              <a data-toggle="collapse" data-parent="#accordion1" href="#hrPPFWsub1"><i class="fa fa-table font-i"></i>
                Master 
              <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a>
               <!--- Second submenu Item-->
               <ul id="hrPPFWsub1" class="collapse">
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Product Details<span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>           
              </ul>
              <!--- Second submenu Item ends-->
          </li>
        <li>
          <a data-toggle="collapse" data-parent="#accordion1" href="#hrPNRsub3"><i class="fa fa-book font-i"></i>
          Reports
          <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a>
           <!--- Second submenu Item-->
           <ul id="hrPNRsub3" class="collapse">
            <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>GRN & Clasification Report<span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i> </span></a>
            </li> 
            <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Green Receipts Report<span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i> </span></a>
            </li> 
            <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Grading Weighment Report<span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i> </span></a>
            </li>    
            <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Grading Weighment Report<span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i> </span></a>
            </li> 
            <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Batch Process Report<span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i> </span></a>
            </li>          
          </ul>
          <!--- Second submenu Item ends-->
        </li>
        </ul>
      </li>
      <li>
        <a data-toggle="collapse" data-parent="#accordion1" href="#hrsalescrm"><i class="fa fa-buysellads"></i>
          Sales & CRM <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i> </span>
        </a>
        <ul id="hrsalescrm" class="collapse">
          <li>
              <a data-toggle="collapse" data-parent="#accordion1" href="#hrsalescrmsub1"><i class="fa fa-table font-i"></i>
                Master 
              <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a>
               <!--- Second submenu Item-->
               <ul id="hrsalescrmsub1" class="collapse">
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Currency<span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>    
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Consignee & Buyers Details<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
              </li>           
              </ul>
              <!--- Second submenu Item ends-->
          </li>
          <li>
            <a data-toggle="collapse" data-parent="#accordion1" href="#hrsalescrmsub2"><i class="fa fa-edit font-i"></i>
              Transactions
              <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a>
              <!--- Second submenu Item-->
              <ul id="hrsalescrmsub2" class="collapse">
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Sales Enquiry<span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li> 
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Proforma Invoice<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li> 
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Packing Material Status & Indent<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>    
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Re Packing Schedule<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li> 
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Container Booking & Schedule<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>  
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>QC Analysis Intimation<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>  
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Customs Invoice<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>  
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Bill of Lading <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>  
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Shipment Details<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>  
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Orders Tracking<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>  
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Packing Material Indent<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>  
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Agent Expenses<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>          
              </ul>
          <!--- Second submenu Item ends-->
          </li>
        <li>
          <a data-toggle="collapse" data-parent="#accordion1" href="#hrPNRsub3"><i class="fa fa-book font-i"></i>
          Reports
          <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a>
           <!--- Second submenu Item-->
           <ul id="hrPNRsub3" class="collapse">
            <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Enquiry Register<span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i> </span></a>
            </li> 
            <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Proforma Invoice Register<span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i> </span></a>
            </li> 
            <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Orders Status<span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i> </span></a>
            </li>    
            <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Order Schedules Details<span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i> </span></a>
            </li> 
            <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Despatch Schedule Details<span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i> </span></a>
            </li>   
            <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Invoice Details<span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i> </span></a>
            </li>   
            <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Invoice Sales Documents<span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i> </span></a>
            </li>   
            <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Sales Register<span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i> </span></a>
            </li>   
            <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Pending Order Register<span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i> </span></a>
            </li>   
            <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Debtors Outstanding<span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i> </span></a>
            </li>   
            <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Agent Expenses Details<span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i> </span></a>
            </li>   
            <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Port wise Shipment Report<span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i> </span></a>
            </li>   
                   
          </ul>
          <!--- Second submenu Item ends-->
        </li>
        </ul>
      </li>
      <li>
        <a data-toggle="collapse" data-parent="#accordion1" href="#hrqualitycmsub1"><i class="fa fa-buysellads"></i>
          Quality Control Management <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i> </span>
        </a>
        <ul id="hrqualitycmsub1" class="collapse">
          <li>
              <a data-toggle="collapse" data-parent="#accordion1" href="#hrsalescrmsub1"><i class="fa fa-table font-i"></i>
                Master 
              <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a>
               <!--- Second submenu Item-->
               <ul id="hrsalescrmsub1" class="collapse">
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Tests Methods<span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>  
              </ul>
              <!--- Second submenu Item ends-->
          </li>
          <li>
            <a data-toggle="collapse" data-parent="#accordion1" href="#hrqualitycmsub2"><i class="fa fa-edit font-i"></i>
              Transactions
              <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a>
              <!--- Second submenu Item-->
              <ul id="hrqualitycmsub2" class="collapse">
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>In House Sample Analysis<span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li> 
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Outside Sample Report Details<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li> 
              </ul>
          <!--- Second submenu Item ends-->
          </li>
        <li>
          <a data-toggle="collapse" data-parent="#accordion1" href="#hrqualitycmsub3"><i class="fa fa-book font-i"></i>
          Reports
          <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a>
      
        </li>
        </ul>
      </li>
      <li>
        <a data-toggle="collapse" data-parent="#accordion1" href="#hrpgmm"><i class="fa fa-buysellads"></i>
          Packing & General Material Management<span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i> </span>
        </a>
        <ul id="hrpgmm" class="collapse">
          <li>
              <a data-toggle="collapse" data-parent="#accordion1" href="#hrsalescrmsub1"><i class="fa fa-table font-i"></i>
                Master 
              <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a>
               <!--- Second submenu Item-->
               <ul id="hrsalescrmsub1" class="collapse">
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Store Material Master<span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>  
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Packing Material<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>  
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Packing Stock Details<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>  
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Packing Material (BOM)<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li>  
              </ul>
              <!--- Second submenu Item ends-->
          </li>
          <li>
            <a data-toggle="collapse" data-parent="#accordion1" href="#hrqualitycmsub2"><i class="fa fa-edit font-i"></i>
              Transactions
              <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a>
              <!--- Second submenu Item-->
              <ul id="hrqualitycmsub2" class="collapse">
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Material Indent by Departments<span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li> 
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Stores Quotation Received<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li> 
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Purchase Order<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li> 
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Stores GRN<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li> 
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Customers Packing Material GRN<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li> 
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Stores Consumption & Issues<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li> 
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Stores Purchase Return<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li> 
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Material Indent by Stores to PD<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li> 
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Service Work Order<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li> 
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Job Work Issues (Returnable)<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li> 
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Job Work Material Receipt (Returnable)<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li> 
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Assets - Repairs Issued (Returnable)<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li> 
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Assets - Repairs Received<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li> 
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Material Issued - Non Returnable<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li> 
                <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Material Issued - Non Returnable<span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i> </span></a>
                </li> 

              </ul>
          <!--- Second submenu Item ends-->
          </li>
        <li>
          <a data-toggle="collapse" data-parent="#accordion1" href="#hrqualitycmsub3"><i class="fa fa-book font-i"></i>
          Reports
          <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a>
                   <!--- Second submenu Item-->
                   <ul id="hrqualitycmsub3" class="collapse">
                    <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Indent Received Report<span class="pull-right-container">
                            <i class="fa fa-angle-right pull-right"></i> </span></a>
                    </li> 
                    <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Quotation Received Report<span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i> </span></a>
                    </li> 
                    <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Stores Purchase Order Report<span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i> </span></a>
                    </li> 
                    <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Stores Purchase Order Pending Report<span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i> </span></a>
                    </li> 
                    <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Stores GRN Report<span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i> </span></a>
                    </li> 
                    <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Stores Consumption Report<span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i> </span></a>
                    </li> 
                    <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Stores Purchase Return Report<span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i> </span></a>
                    </li> 
                    <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Material Indent to PD Report<span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i> </span></a>
                    </li> 
                    <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Job Work Issued & Received (Returnable)<span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i> </span></a>
                    </li> 
                    <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Stock Report<span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i> </span></a>
                    </li> 
                    <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Job Work Material Receipt (Returnable)<span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i> </span></a>
                    </li> 
                    <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Stock Statement (Customers)<span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i> </span></a>
                    </li> 
                    <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Non Returnble Goods Report<span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i> </span></a>
                    </li> 
                    <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Outward Gate Pass Report<span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i> </span></a>
                    </li> 
                    <li><a routerLink=''><i class="fa fa-arrow-circle-right font-i"></i>Material Index<span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i> </span></a>
                    </li> 
    
                  </ul>
              <!--- Second submenu Item ends-->
        </li>
        </ul>
      </li>
      <li>
        <a data-toggle="collapse" data-parent="#accordion1" href="#firstLink" ><i class="fa fa-sitemap font-i"></i>
          Accounts & Finance Management<span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i> </span>
        </a>
      </li>
      <li>
        <a data-toggle="collapse" data-parent="#accordion1" href="#firstLink"><i class="fa fa-sitemap font-i"></i>
          Management Information Systems<span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i> </span>
        </a>
      </li>
      <li>
        <a data-toggle="collapse" data-parent="#accordion1" href="#firstLink" ><i class="fa fa-sitemap font-i"></i>
          User Manual & Help<span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i> </span>
        </a>
      </li>
    </ul>
  </div>
</aside>