<div class="row pull-right " id="bread">
    <ol class="breadcrumb breadcrumb-arrow">
        <li><a href="#">Organisation Management</a></li>
        <li class="active"><span>Management Details</span></li>
    </ol>
</div>
<div id="pnlGrdOrganization" class="card">
    <div class="card-header card-header-text" data-background-color="rose">
            <h4 class="card-title"><i class="fa fa-table m-r-10"></i>Management Details</h4>
    </div>
    <div class="card-body">
            <div class="row">
                    <div class="col-md-4">
                            <div class="form-group">
                                <span class="label-control">Management Name</span>
                                <input type="text" class="form-control">
                            </div>
                    </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                    <span class="label-control">Designation</span>
                                    <input type="text" class="form-control">
                            </div>
                    </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                <span  class="label-control">Primary Contact Number</span>
                                <input id="txtPrimaryContactNumber" class="form-control">
                            </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-4">
                            <div class="form-group">
                                <span class="label-control">Alternate Contact Number</span>
                                <input class="form-control">
                            </div>
                    </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                <span class="label-control">Email Id</span>
                                <input type="email" class="form-control" >
                             </div>
                    </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                <span class="label-control">Residential Address	</span>
                                <textarea class="form-control"></textarea>
                             </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-4">
                            <div class="form-group">
                                <span class="label-control">PAN</span>
                                <input name="txtpan" type="text"   id="txtpan" tabindex="1" class="form-control">
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="label-control">DIN</span>
                            <input type="text"  class="form-control">
                        </div>
                </div>
            </div>
            <div class="row pull-right m-b-30 m-r-10">
                   <div class="col-md12">
                            <input type="submit" value="Add Organisation"  class="btn btn-info">
                            <input type="submit" value="Add Management" class="btn btn-info">
                            <input type="submit" value="Add Location" class="btn btn-info">
                            <input type="submit" value="Save" class="btn btn-info">
                            <input type="submit" value="Modify" class="Modify">
                            <input type="submit" value="Clear"  class="btn btn-info">
                    </div>
            </div>
    </div>
</div>

<div class="card">
        <div class="card-header card-header-text" data-background-color="rose">
                <h4 class="card-title"><i class="fa fa-table m-r-10"></i>Management List</h4>
        </div>
        <div class="card-body" style="overflow-y:auto">
                <div class="row m-b-25" >
                        <div class="col-md-12" >
                                <div>
                                        <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" cellpadding="4" id="grdOrganizations">
                                <tbody>
                                        <tr>
                                                <th>S.No</th>
                                                <th>Management Name</th>
                                                <th>Designation</th>
                                                <th>Primmary Contact Number</th>
                                                <th>Alternate Contant Number</th>
                                                <th>Email ID</th>
                                                <th>Residential Address</th>
                                                <th>PAN</th>
                                                <th>DAN</th>
                                                <th>Edit / Delete</th>                                 
                                        </tr>
                                        <tr>
                                                <td>
                                                        <span>1</span>
                                                </td>
                                                <td>
                                                        <a href="#">Aqua Tex </a>
                                                </td>
                                                <td>Na</td>
                                                <td>Na</td>
                                                <td>Na</td>
                                                <td>Na</td>
                                                <td>Na</td>
                                                <td>Na</td>
                                                <td>Na</td>
                                                <td>
                                                        <a class="btn btn-info" href="#"><i class="fa fa-edit"></i></a>
                                                        <a class="btn btn-danger" href="#"><i class="fa fa-trash"></i></a>
                                                </td>
                                        </tr>
                                </tbody>
                                        </table>
                                </div>
                    </div>
                </div>
        </div>
</div>