<div class="row pull-right " id="bread">
    <ol class="breadcrumb breadcrumb-arrow">
        <li><a href="#">Purchase Management</a></li>
        <li class="active"><span>Suppliers Details</span></li>
    </ol>
</div>
<div class="card">
    <div class="card-header card-header-text" data-background-color="rose">
        <h4 class="card-title"><i class="fa fa-table m-r-10"></i>Suppliers Details</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <span class="label-control">Date of Entry</span>
                    <!-- <input type="text" class="form-control"> -->
                    <mat-form-field>
                        
                        <input matInput [matDatepicker]="picker" class="form-control">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <span class="label-control">Login User Name</span>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <span class="label-control">Name of the Organisation</span>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <span class="label-control">Legal Status</span>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <span class="label-control">Address</span>
                    <textarea rows="2" cols="50" class="form-control">

                                </textarea>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <span>Country</span>
                    <select class="form-control">
                        <option value="--Select Status--">--Select Status--</option>
                        <option>Coutry1</option>
                        <option>Coutry2</option>
                        <option>Coutry3</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <span>State</span>
                    <select class="form-control">
                        <option value="--Select Status--">--Select Status--</option>
                        <option>State1</option>
                        <option>State2</option>
                        <option>State3</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <span>Place / City</span>
                    <select class="form-control">
                        <option value="--Select Status--">--Select Status--</option>
                        <option>City1</option>
                        <option>City2</option>
                        <option>City3</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <span>PIN Code</span>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <span>Management Name</span>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <span>Designation</span>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <span>Mang. Contact Number</span>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <span>Correspondance Mail ID</span>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <span>Alt. Correspondance Mail ID</span>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <span>Contact Person</span>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <span>Designation</span>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <span>Contact Person No</span>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <span>Mail ID</span>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <span>Office Number</span>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <span>Activity</span>
                    <select class="form-control">
                        <option value="--Select Status--">--Select Status--</option>
                        <option>Manufacturer</option>
                        <option>Trader</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <span>GST No</span>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <span>Website</span>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <span>License No</span>
                    <input type="text" class="form-control">
                </div>
            </div>

        </div>
    </div>
</div>
<div class="card">
    <div class="card-header card-header-text" data-background-color="rose">
        <h4 class="card-title"><i class="fa fa-table m-r-10"></i>Suppliers Document</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <span class="label-control">Name of the Document</span>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <span class="label-control">Document Upload</span>
                    <input type="file" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header card-header-text" data-background-color="rose">
        <h4 class="card-title"><i class="fa fa-table m-r-10"></i>Supplier Document List</h4>
    </div>
    <div class="card-body" style="overflow-y:auto">
        <div class="row m-b-25">
            <div class="col-md-12">
                <div>
                    <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
                        cellpadding="4" id="grdOrganizations">
                        <tbody>
                            <tr>
                                <th>S.No</th>
                                <th>Name of the Document</th>
                                <th>Dcount Path</th>
                            </tr>
                            <tr>
                                <td>
                                    <span>1</span>
                                </td>
                                <td>
                                    Na
                                </td>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="row pull-right btSection">
        <div class="col-md12">
            <input type="submit" value="Add Supplier" class="btn btn-info">
            <input type="submit" value="Save" class="btn btn-info">
            <input type="submit" value="Find" class="btn btn-info">
            <input type="submit" value="Modify" class="Modify">
            <input type="submit" value="Clear" class="btn btn-info">
        </div>
    </div>
</div>